<?php
use Doctrine\ORM\Tools\Console\ConsoleRunner;
use Xsv\Doctrine\Factory\EntityManagerFactory;

$container = require 'container.php';

$entityManagerFactory = new EntityManagerFactory();
$entityManager = $entityManagerFactory($container, \Doctrine\ORM\EntityManager::class); //default one

return ConsoleRunner::createHelperSet($entityManager);
