<?php

return [
    'doctrine' => [
        \Doctrine\ORM\EntityManager::class => [
            /*'entity-path' => [    // preferably move to individual module
                'ProperNamespace' => 'Directory/Containing/Entities'
            ],*/
            'connection' => [
                'driver'   => 'pdo_mysql',
                'user'     => 'db_username',
                'password' => 'db_password',
                'dbname'   => 'db_name',
            ],
            //'is-dev-mode' => true,
            'proxy-dir' => __DIR__ . '/../../data/cache/DoctrineProxy',
            'entity-driver' => 'xml', //xml, annotation
            /*'types' => [
                Ramsey\Uuid\Doctrine\UuidType::NAME => Ramsey\Uuid\Doctrine\UuidType::class,
            ],*/
        ],
    ],
];